<div class="row">
    <div class="col-md-8">
        <h2>Sign Up Confirmation </h2>
        <h4>Are You Sure These Values Are Correct?</h4>
        <p><strong>Name: </strong>
            <%= @user.name %>
        </p>
        <p><strong>Email:</strong>
            <%= @user.email %>
        </p>
        <div class="row">
            <div class="col-md-12">

                <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success col-md-6' %>

                    <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-danger col-md-6', method: :get %>
            </div>
        </div>
    </div>
</div>
