<h1>Advertisement show</h1>

<h3>Title</h3>
<%= @advertisement.title %>
<br>
<h3>Body</h3>
<%= @advertisement.body %>
<br>
<h3>Price</h3>
<%= @advertisement.price %>

<br>
<%= link_to 'Back to advertisements list', advertisements_path %>
