// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
	position: relative;
  font-family: lato;
  font-style: italic;
  font-size: 10;
  color: white;
	top: 0;
	left: 50px;
	width: 100px;
	height: 55px;
	background: #44accf;
}
